Debug
Release
Quick-Release
*.ncb
*.suo
*.vcproj.*.user
UpgradeLog.XML
_UpgradeReport_Files
*.sav
BotE.log
BotE Game/trunk/DevBotE*.exe
BotE Game/trunk/game/Data/Ships/[en]/ShipEditor_V1.7.exe
